* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-image: url(./kelly-sikkema-411622-unsplash.jpg);
  background-size: cover;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
